body {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  -webkit-text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  overflow: auto;
}
.main-container {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 100vh;
  background-image: url('../images/AE_BG-1.png');
  background-position: 0px 0px;
  background-size: calc(100% + 48px) 100%;
  animation: moveBg 4s linear infinite;
  -webkit-animation: moveBg 4s linear infinite;
  overflow: hidden;
  z-index: 3;
}

@keyframes moveBg {
  0% {
    background-position: -14px 0;
  }

  50% {
    background-position: 0px 0;
  }

  100% {
    background-position: -14px 0;
  }
}

.page-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  width: 100%;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  overflow: hidden;
}

.info-container {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  width: 45%;
  margin-bottom: 0;
  margin-left: 25vmin;
  flex-direction: column;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  background-color: transparent;
  z-index: 3;
}

.logos {
  display: flex;
  display: -webkit-flex;
  height: 6vmax;
  align-items: center;
  -webkit-align-items: center;
  margin-bottom: 30px;
}

.rb-logo {
  padding-top: 10px 0;
  width: 20vmax;
}

.aviator-logo {
  width: 25vmax;
}

.image-2 {
  margin-left: 40px;
  width: 9vmax;
  padding-bottom: 10px;
}

.heading {
  color: #fff;
  font-size: 3vmax;
  line-height: 3.5vmax;
  text-transform: uppercase;
}

.heading-2 {
  color: #fff;
  font-size: 2vmax;
  line-height: 3vmax;
  text-transform: uppercase;
}

.text-block-2 {
  color: #fff;
  font-size: 1.5vmax;
  line-height: 3vmax;
  margin-bottom: 30px;
}

.text-block-4 {
  margin-top: 10px;
  padding: 20px 70px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  background-color: #0c8aff;
  color: #fff;
  font-size: 1vmax;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
a:hover {
  background-color: #0063BF;
}
a:active {
  background-color: #0063BF;
  padding: 18px 65px;
}

.mobile-plane {
  display: none;
}

.plane-container {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1077px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  right: 0;
  z-index: 2;
  animation: movePlane 4s linear infinite;
  -webkit-animation: movePlane 4s linear infinite;
}

@-webkit-keyframes movePlane {
  0% {
    -webkit-transform: translateX(28px);
  }

  50% {
    -webkit-transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(28px);
  }
}

@keyframes movePlane {
  0% {
    transform: translateX(28px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(28px);
  }
}

.plane {
  height: 100vh;
  right: o;
  z-index: 2;
}

.vint {
  height: 71vh;
  right: 31vh;
  bottom: 0;
  position: fixed;
  margin-right: 0px;
  margin-left: 0px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.terms {
  color: #ffffff;
  margin-top: 34px;
  text-align: left;
  text-shadow: none;
}

summary {
  display: flex;
  margin-left: 3vmax;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
}

.terms__header {
  border-bottom: 1px dashed;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  -webkit-text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

summary img {
  width: 1vmax;
  height: 0.6vmax;
  margin: auto 0 auto 6px;
  transition: transform 0.3s ease;
}

summary:active img {
  transform: rotate(180deg);
}

.terms__list {
  padding: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  background-color: black;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(22px);
  border-radius: 8px;
}
.terms__list ol {
  margin: 0;
  padding-left: 26px;
}
details[open] summary~* {
  animation: open 1s ease-in-out;
}

@media screen and (max-width: 912px) and (-webkit-min-device-pixel-ratio: 0) {

  .main-container {
    animation: moveBg 25s linear infinite;
    -webkit-animation: moveBg 25s linear infinite;
    background-size: cover;
  }

  @keyframes moveBg {
    0% {
      background-position: 100% 0;
    }
  
    50% {
      background-position: 50% 0;
    }
  
    100% {
      background-position: 0% 0;
    }
  }
    .plane-container {
      display: contents;
      max-width: 100%;
    }

  .page-container {
    display: flex;
    text-align: center;
    animation: none;
    -webkit-animation: none;

  }
  .info-container {
    width: 100%;
    margin: 50px auto 0 auto;
    margin-left: 0;
    padding: 0;
  }

  .logos {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    padding: 0 35px;
  }

  div.logos {
    width: 100%;
    height: 100%;
  }

  .rb-logo {
    padding-top: 0;
    width: 27vmax;
  }

  div.aviator-logo {
    display: flex;
    display: -webkit-flex;
    height: 12vmax;
    width: 18vmax;
    margin-top: 0px;
    padding: 0;
    text-align: right;
    justify-content: flex-end;
  }
  img.image-2 {
    width: 65%;
  }
  .mobile-plane {
    display: block;
  }
  .container-title .heading {
    font-size: 4vmax;
    line-height: 4.5vmax;
    padding: 0 60px;
    margin-top: 0;
  }
  .container-subtitle {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  .heading-2 {
    font-size: 3vmax;
    line-height: 3.5vmax;
    padding: 0 50px;
    margin-top: 10px;
  }
  .text-block-2 {
    font-size: 2.5vmax;
    line-height: 2vmax;
    padding: 0 50px;
    margin-bottom: 0;
  }
  .container-btn {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    width: 100%;
    margin-top: 0px;
  }
  .text-block-4 {
    font-size: 2vmax;
    line-height: 2vmax;
    margin-top: 0px;
  }
  div.container-text {
    padding: 0;
    margin-top: 0px;
  }
  .container-text {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  .container-btn {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  .vint {
    display: contents;
  }
  .plane {
    display: contents;
  }

  summary {
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
  }
  .terms {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  details {
    margin-left: 62px;
    margin-right: 62px;
  }
  details[open] {
    margin-left: 62px;
    margin-right: 62px;
  }
  details[open] .terms__list{
    text-align: left;
  }

  .summary-wrapper {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .info-container {
    margin-top: 36px;
  }
  .plane-container {
    animation: none;
    -webkit-animation: none;
  }
  .container-title .heading {
    font-size: 3vmax;
    line-height: 3.5vmax;
    padding: 0 20px;
  }
  .heading-2 {
    font-size: 16px;
    line-height: 19px;
  }
  .text-block-2 {
    font-size: 14px;
    line-height: 17px;
  }
  .text-block-4 {
    font-size: 14px;
    line-height: 17px;
    text-shadow: none;
    padding-left: 50px;
    padding-right: 50px;
  }
  .terms {
    margin-top: 10px;
  }
  #summary {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .terms__list {
    padding: 16px;
    font-size: 14px;
    line-height: 20px;
  }
  details {
    margin-left: 32px;
    margin-right: 32px;
  }
  details[open] {
    margin-left: 22px;
    margin-right: 22px;
  }
}

@media screen and (width: 768px) and (-webkit-min-device-pixel-ratio: 0) {
 .logos {
  margin-bottom: 0;
 }
 .terms {
  margin-top: 10px;
 }
 .terms__list {
  padding: 16px;

 }
}
@media screen and (width: 540px) and (-webkit-min-device-pixel-ratio: 0) {
  .logos {
   margin-bottom: 0;
  }
  .terms {
   margin-top: 10px;
  }
  .terms__list {
   padding: 10px;
 
  }
 }

