.main-container {
  display: flex;
  width: 100%;
  height: 100dvh;
  background-image: url('../images/AE_BG-1.png') ;
  background-position: 0px 0px;
  background-size: cover;
  animation: moveBg 12s linear infinite;
}
@keyframes moveBg {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.image {
  display: inline-block;
  width: 600px;
  max-width: 130%;
  margin-left: -13px;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.info-container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 30%;
  margin-bottom: 0;
  margin-left: 132px;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  z-index: 3;
}

.logos {
  display: flex;
}

.rb-logo {
  padding-top: 10px ;
}

.aviator-logo {
  display: inline-block;
}

.image-2 {
  margin-left: 40px;
}

/* .image-3 {
  display: inline-block;
  padding-top: 26px;
} */

.heading {
  color: #fff;
  font-size: 22px;
  line-height: 22px;
}

.heading-2 {
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.text-block-2 {
  color: #fff;
}

.text-block-4 {
  margin-top: 10px;
  padding: 10px 35px;
  border-radius: 8px;
  background-color: #0c8aff;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

.mobile-plane {
  display: none;
}
.plane-container {
  position: absolute;
  right: 0;
  z-index: 1;
}


.plane {
  display: block;
  height: 100dvh;
  width: 100%;
  overflow: visible;

}

.vint {
  height: 70%;
  width: 70%;
  left: 45px;
  bottom: 0;
  position: absolute;
  margin-right: 0px;
  margin-left: 0px;
}



/* @media screen and (min-width: 1920px) {
  .main-container {
    background-image: url('../images/AE_BG-1.png');
    background-size: cover;
  }

  .info-container {
    display: block;
    width: 900px;
    height: 600px;
    margin-top: 190px;
    margin-left: 261px;
    background-color: transparent;
  }

  .logos {
    display: flex;
    align-self: flex-start;
  }

  .container-title {
    display: block;
    align-self: flex-start;
  }

  .container-btn {
    margin-top: 20px;
    border-radius: 8px;
  }

  .rb-logo {
    width: 60%;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  .image-2 {
    width: 70%;
  }

  .heading {
    width: 100%;
    margin-top: 66px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
    font-size: 60px;
    line-height: 70px;
  }

  .heading-2 {
    width: 100%;
    margin-top: 40px;
    color: #fff;
    font-size: 40px;
    line-height: 50px;
  }

  .text-block {
    font-size: 30px;
  }

  .text-block-2 {
    margin-top: 20px;
    color: #fff;
    font-size: 30px;
    line-height: 36px;
  }

  .text-block-3 {
    font-size: 18px;
    line-height: 22px;
  }

  .text-block-4 {
    width: 300px;
    height: 62px;
    padding: 20px 60px;
    border-radius: 8px;
    background-color: #0c8aff;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }

  .plane-container {
    position: relative;
    display: inline-block;
    width: 50%;
  }

  .images-wrapper {
    display: flex;
    position: relative;
    align-items: center;
  }

  .plane {
    position: relative;
    left: 0px;
    display: block;
    overflow: auto;
    height: 1080px;
    max-width: 1077px;
    text-align: right;
    width: 100%;
    max-width: 130%;
    margin-left: -13px;
    z-index: 1;
  }

  .vint {
    position: absolute;
    left: 70px;
    top: 310px;
    bottom: 0%;
    height: 774px;
    margin-top: 0px;
    margin-left: 0px;

    z-index: 1;
  }


} */

@media screen and (max-width: 769px) {

  .main-container {
    width: 100%;
  }

  .page-container {
    width: 100%;
    display: block;
    text-align: center;
  }

  .info-container {

    width: 100%;
    margin: 80px auto;
    margin-left: 0;
    padding: 0;
  }

  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .rb-logo {
    width: 320px;
  }

  .image-2 {
    width: 145px;
  }

  .mobile-plane {
    display: block;
    width: 100dvw;
  }

  .container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;

  }

  .container-title .heading {
    font-size: 46px;
    line-height: 60px;
    padding: 0 70px;
  }

  .container-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .heading-2 {
    font-size: 30px;
    line-height: 40px;
    padding: 0 70px;
  }

  .text-block-2 {
    font-size: 20px;
    line-height: 30px;
    padding: 0 70px;
  }

  .text-block-4 {
    font-size: 16px;
    line-height: 20px;
  }

  .container-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .main-container .vint {
    display: none;
  }

  .plane {
    display: none;
  }

  .container-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .main-container .vint {
    display: none;
  }

  .plane {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .info-container {
    margin: 36px auto;
  }

  .rb-logo {
    width: 150px;
  }

  .image-2 {
    width: 70px;
  }

  .container-title .heading {
    font-size: 24px;
    line-height: 29px;
    padding: 0 70px;
  }

  .heading-2 {
    font-size: 16px;
    line-height: 19px;
  }

  .text-block-2 {
    font-size: 14px;
    line-height: 17px;
  }

  .text-block-4 {
    font-size: 14px;
    line-height: 17px;
  }
}